<!DOCTYPE html>
<html ng-app="dyson">

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport"
		content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<title>Dyson</title>
	<link rel="shortcut icon" href="favicon.ico">
	<script type="text/javascript" src="./public/assets/bundle.js"></script>
	<link rel="stylesheet" type="text/css" href="./public/assets/main.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92777396-37"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92777396-37');
</script>


</head>
<body id="index" ng-controller="dysonController">
	<div class="container" >
			<div class="header">
				<div id="nav">
					<img src="./public/Dyson_logo.svg" style="height: 50px;">
				</div>
			</div>
			<div class="content">
				<div id="web_01">
					<img src="./public/web_01.jpg">
				</div>
				<div id="web_02" class="contentbox">
					<img src="./public/web_02.jpg">
					<div number-animation="66" class="absolute_content number" ng-model="s1_2_1" id="s1_2_1"></div>
					<div number-animation="11" class="absolute_content number" ng-model="s1_2_2" id="s1_2_2"></div>
					<div number-animation="44" class="absolute_content number" ng-model="s1_2_3" id="s1_2_3"></div>
					<div number-animation="51" class="absolute_content number" ng-model="s1_2_4" id="s1_2_4"></div>
				</div>
				<div id="web_03" class="contentbox">
					<img src="./public/web_03.jpg">
					<div class="absolute_content" ng-model="s3_1" id="s3_1">
						<img src="./public/s3_1.jpg">
					</div>
					<div class="absolute_content" ng-model="s3_2" id="s3_2">
						<img src="./public/s3_2.jpg">
					</div>
					<div class="absolute_content" ng-model="s3_3" id="s3_3">
						<img src="./public/s3_3.jpg">
					</div>
					<div class="absolute_content" ng-model="s3_4" id="s3_4">
						<img src="./public/s3_4.jpg">
					</div>
					<div class="absolute_content" ng-model="s3_5" id="s3_5">
						<img src="./public/s3_5.jpg">
					</div>
				</div>
				<div fade-in-animation="" id="web_04" class="contentbox">
					<img src="./public/web_04.jpg">
					<div class="absolute_content" ng-model="s4_1" id="s4_1">
						<img src="./public/s4_1.jpg">
					</div>
					<div class="absolute_content" ng-model="s4_2" id="s4_2">
						<img src="./public/s4_2.jpg">
					</div>
					<div class="absolute_content" ng-model="s4_3" id="s4_3">
						<img src="./public/s4_3.jpg">
					</div>
					<div class="absolute_content" ng-model="s4_4" id="s4_4">
						<img src="./public/s4_4.jpg">
					</div>
				</div>
				<div id="web_05" class="contentbox">
					<img src="./public/web_05.jpg">
					<div number-animation="1840000" class="absolute_content number" ng-model="s5_1" id="s5_1"></div>
				</div>
				<div id="web_06" class="contentbox">
					<div class="absolute_content" ng-model="s6_1" id="s6_1">
						<img src="./public/s6_1.jpg">
					</div>
					<div class="absolute_content" ng-model="s6_2" id="s6_2">
						<img src="./public/s6_2.jpg">
					</div>
					<div class="absolute_content" ng-model="s6_3" id="s6_3">
						<img src="./public/s6_3.jpg">
					</div>
					<div class="absolute_content" ng-model="s6_4" id="s6_4">
						<img src="./public/s6_4.jpg">
					</div>
					<div class="absolute_content" ng-model="s6_5" id="s6_5">
						<img src="./public/s6_5.jpg">
					</div>
				</div>
				<div id="web_07" class="contentbox">
					<img src="./public/web_07.jpg">
				</div>
				<div id="web_08" class="contentbox">
					<img src="./public/web_08.jpg">
				</div>
				<div id="web_09" class="contentbox">
					<img src="./public/web_09.jpg">
				</div>
				<div id="web_10" class="contentbox">
					<img src="./public/web_10.jpg">
				</div>
				<div id="web_11" class="contentbox">
					<img src="./public/web_11.jpg">
				</div>
				<div id="web_12" class="contentbox">
					<img src="./public/web_12.jpg">
				</div>
				<div id="web_13" class="contentbox">
					<img src="./public/web_13.jpg">
				</div>
				<div id="web_14" class="contentbox">
					<img src="./public/web_14.jpg">
				</div>
				<div id="web_15" class="contentbox">
					<img src="./public/web_15.jpg">
				</div>
			</div>
	</div>

	<div class="mobilecontainer" >
			<div class="header">
				<div id="nav">
					<img src="./public/Dyson_logo.svg" style="height: 50px;">
				</div>
			</div>
			<div class="content">
				<div id="mobile_01">
					<img src="./public/mobile_01.jpg">
				</div>
				<div id="mobile_02" class="contentbox">
					<img src="./public/mobile_02.jpg">
					<div number-animation="66" class="absolute_content number" ng-model="s1_2_1" id="s1_2_1"></div>
					<div number-animation="11" class="absolute_content number" ng-model="s1_2_2" id="s1_2_2"></div>
					<div number-animation="44" class="absolute_content number" ng-model="s1_2_3" id="s1_2_3"></div>
					<div number-animation="51" class="absolute_content number" ng-model="s1_2_4" id="s1_2_4"></div>
				</div>
				<div id="mobile_03" class="contentbox">
					<img src="./public/mobile_03.jpg">
					<div class="absolute_content" ng-model="s3_1" id="s3_1">
						<img src="./public/s3_1.jpg">
					</div>
					<div class="absolute_content" ng-model="s3_2" id="s3_2">
						<img src="./public/s3_2.jpg">
					</div>
					<div class="absolute_content" ng-model="s3_3" id="s3_3">
						<img src="./public/s3_3.jpg">
					</div>
					<div class="absolute_content" ng-model="s3_4" id="s3_4">
						<img src="./public/s3_4.jpg">
					</div>
					<div class="absolute_content" ng-model="s3_5" id="s3_5">
						<img src="./public/s3_5.jpg">
					</div>
				</div>
				<div fade-in-animation="" id="mobile_04" class="contentbox">
					<img src="./public/mobile_04.jpg">
					<div class="absolute_content" ng-model="s4_1" id="s4_1">
						<img src="./public/s4_1.jpg">
					</div>
					<div class="absolute_content" ng-model="s4_2" id="s4_2">
						<img src="./public/s4_2.jpg">
					</div>
					<div class="absolute_content" ng-model="s4_3" id="s4_3">
						<img src="./public/s4_3.jpg">
					</div>
					<div class="absolute_content" ng-model="s4_4" id="s4_4">
						<img src="./public/s4_4.jpg">
					</div>
				</div>
				<div id="mobile_05" class="contentbox">
					<img src="./public/mobile_05.jpg">
				</div>
				<div id="mobile_06" class="contentbox">
					<img src="./public/mobile_06.jpg">
				</div>
				<div id="mobile_07" class="contentbox">
					<img src="./public/mobile_07.jpg">
				</div>
				<div id="mobile_08" class="contentbox">
					<img src="./public/mobile_08.jpg">
				</div>
				<div id="mobile_09" class="contentbox">
					<img src="./public/mobile_09.jpg">
				</div>
				<div id="mobile_10" class="contentbox">
					<img src="./public/mobile_10.jpg">
				</div>
				<div id="mobile_11" class="contentbox">
					<img src="./public/mobile_11.jpg">
				</div>
				<div id="mobile_12" class="contentbox">
					<img src="./public/mobile_12.jpg">
				</div>
				<div id="mobile_13" class="contentbox">
					<img src="./public/mobile_13.jpg">
				</div>
				<div id="mobile_14" class="contentbox">
					<img src="./public/mobile_14.jpg">
				</div>
			
				
			</div>
	</div>

</body>

</html>