<!DOCTYPE html>
<html ng-app="dyson">

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport"
		content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<meta property="og:url"                content=" " />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="Dyson 健康空氣調查" />
<meta property="og:description"        content="調查為期半年，當中包含了與香港過敏協會合作的「環境致敏原與空氣品質認知」的小學調查，並委托第三方實驗室進行研究及分析結果，了解分佈於全港、九、新界各區的家居及小學校舍中空氣存在的隱形污染物。" />
<meta property="og:image"              content="https://campaign.nextdigital.com.hk/Dyson/dev/v1/public/fbshare.jpg" />

	<title>Dyson 健康空氣調查</title>
	<link rel="shortcut icon" href="favicon.ico">
	<script type="text/javascript" src="./public/assets/bundle.js"></script>
	<link rel="stylesheet" type="text/css" href="./public/assets/main.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92777396-37"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92777396-37');
</script>


</head>
<body id="index" ng-controller="dysonController">
	<div class="header">
		
		<div id="nav">
			<div class="nav_item"><a ng-click="scrolltoelement('#web_01');">調查概覽</a></div>
			<div style="margin: 0 40px;">|</div>
			<div class="nav_item"><a ng-click="scrolltoelement('#web_05');">濾網分析結果</a></div>
			<div style="margin: 0 40px;">|</div>
			<div class="nav_item"><a ng-click="scrolltoelement('#web_11');">隱形污染源頭</a></div>
			<div style="margin: 0 40px;">|</div>
			<div class="nav_item"><a ng-click="scrolltoelement('#web_14');">全面防禦淨化</a></div>
		</div>
	</div>
	<div class="container" >
			<div class="content">
				<div id="web_01">
					<h2>
						<span id="title1"></span>
					</h2>
					<h2>
						<span id="title2"></span>
					</h2>
				</div>
				<div id="web_02" class="contentbox">
					<img src="./public/web_02.jpg">
					<div class="absolute_content number" ng-model="s1_2_1" id="s1_2_1"></div>
					<div class="absolute_content number" ng-model="s1_2_2" id="s1_2_2"></div>
					<div class="absolute_content number" ng-model="s1_2_3" id="s1_2_3"></div>
					<div class="absolute_content number" ng-model="s1_2_4" id="s1_2_4"></div>
				</div>
				<div id="web_03" class="contentbox">
					<img src="./public/web_03.jpg">
					<div class="absolute_content" ng-model="s3_1" id="s3_1">
						<img src="./public/s3_1.jpg">
					</div>
					<div class="absolute_content" ng-model="s3_2" id="s3_2">
						<img src="./public/s3_2.jpg">
					</div>
					<div class="absolute_content" ng-model="s3_3" id="s3_3">
						<img src="./public/s3_3.jpg">
					</div>
					<div class="absolute_content" ng-model="s3_4" id="s3_4">
						<img src="./public/s3_4.jpg">
					</div>
					<div class="absolute_content" ng-model="s3_5" id="s3_5">
						<img src="./public/s3_5.jpg">
					</div>
				</div>
				<div id="web_04" class="contentbox">
					<img src="./public/web_04.jpg">
					<div class="absolute_content" ng-model="s4_1" id="s4_1">
						<img src="./public/s4_1.jpg">
					</div>
					<div class="absolute_content" ng-model="s4_2" id="s4_2">
						<img src="./public/s4_2.jpg">
					</div>
					<div class="absolute_content" ng-model="s4_3" id="s4_3">
						<img src="./public/s4_3.jpg">
					</div>
					<div class="absolute_content" ng-model="s4_4" id="s4_4">
						<img src="./public/s4_4.jpg">
					</div>
				</div>
				<div id="web_05" class="contentbox">
					<img src="./public/web_05.jpg">
					<div class="absolute_content number" ng-model="s5_1" id="s5_1"></div>
				</div>
				<div id="web_06" class="contentbox">
					<div class="absolute_content" ng-model="s6_1" id="s6_1">
						<img src="./public/s6_1.jpg">
					</div>
					<div class="absolute_content" ng-model="s6_2" id="s6_2">
						<img src="./public/s6_2.jpg">
					</div>
					<div class="absolute_content" ng-model="s6_3" id="s6_3">
						<img src="./public/s6_3.jpg">
					</div>
					<div class="absolute_content" ng-model="s6_4" id="s6_4">
						<img src="./public/s6_4.jpg">
					</div>
					<div class="absolute_content" ng-model="s6_5" id="s6_5">
						<img src="./public/s6_5.jpg">
					</div>
				</div>
				<div id="web_07" class="contentbox">
					<img src="./public/web_07.jpg">
				</div>
				<div id="web_08" class="contentbox">
					<img src="./public/web_08.jpg">
						<div class="absolute_content barchart1"></div>
						<div class="absolute_content barchart1_text">100%</div>

						<div class="absolute_content barchart2"></div>
						<div class="absolute_content barchart2_text">86.2%</div>

						<div class="absolute_content barchart3"></div>
						<div class="absolute_content barchart3_text">0.52g</div>

						<div class="absolute_content barchart4"></div>
						<div class="absolute_content barchart4_text">1.16g</div>

						<div class="absolute_content barchart5"></div>
						<div class="absolute_content barchart5_text">100%</div>

						<div class="absolute_content barchart6"></div>
						<div class="absolute_content barchart6_text">65.5%</div>
				</div>
				<div id="web_09" class="contentbox">
					<img src="./public/web_09.jpg">
				</div>
				<div id="web_10" class="contentbox">
					<img src="./public/web_10.jpg">
					<div class="absolute_content" ng-model="s10_1" id="s10_1">
						<img src="./public/s10_1.jpg">
					</div>
				</div>
				<div id="web_11" class="contentbox">
					<img src="./public/web_11.jpg">
				</div>
				<div id="web_12" class="contentbox">
					<img src="./public/web_12.jpg">
					<div class="absolute_content" ng-model="s12_1" id="s12_1">
						<img src="./public/s12_1.jpg">
					</div>
					<div class="absolute_content" ng-model="s12_2" id="s12_2">
						<img src="./public/s12_2.jpg">
					</div>
				</div>
				<div id="web_13" class="contentbox">
					<img src="./public/web_13.jpg">
					<div class="absolute_content" ng-model="s13_1" id="s13_1">
						<img src="./public/s13_1.jpg">
					</div>
					<div class="absolute_content" ng-model="s13_2" id="s13_2">
						<img src="./public/s13_2.jpg">
					</div>
					<div class="absolute_content" ng-model="s13_3" id="s13_3">
						<img src="./public/s13_3.jpg">
					</div>
					<div class="absolute_content" ng-model="s13_4" id="s13_4">
						<img src="./public/s13_4.jpg">
					</div>
					<div class="absolute_content" ng-model="s13_5" id="s13_5">
						<img src="./public/s13_5.jpg">
					</div>
				</div>
				<div id="web_14" class="contentbox">
					<img src="./public/web_14.jpg">
					<div class="absolute_content" ng-model="s14_1" id="s14_1">
						<a href="https://bit.ly/2UOqeJt" target="_blank">
							<img src="./public/s14_1.gif">
						</a>
					</div>
				</div>
				<div id="web_15" class="contentbox">
					<img src="./public/web_15.jpg">
				</div>
			</div>
	</div>
	<div class="mobileheader">
		<div class="nav_open">
			<a ng-click="nav_open()"><img src="./public/btn_open.png"></a>
		</div>
		
		<div id="mobile_nav">
			<div class="nav_close"><a ng-click="nav_close()"><img src="./public/btn_close.png"></a></div>
			<div class="nav_item"><a ng-click="mobilescrolltoelement('#mobile_01')">調查概覽</a></div>
			<div class="nav_item"><a ng-click="mobilescrolltoelement('#mobile_06')">濾網分析結果</a></div>
			<div class="nav_item"><a ng-click="mobilescrolltoelement('#mobile_11')">隱形污染源頭</a></div>
			<div class="nav_item"><a ng-click="mobilescrolltoelement('#mobile_13')">全面防禦淨化</a></div>
		</div>
	</div>
	<div class="mobilecontainer" >
		
			<div class="content">
				<div id="mobile_01" class="contentbox">
					<h2>
						<span id="mobiletitle1"></span>
					</h2>
					<h2>
						<span id="mobiletitle2"></span>
					</h2>
				</div>
				<div id="mobile_02" class="contentbox">
					<img src="./public/mobile_02.jpg">
				</div>
				<div id="mobile_03" class="contentbox">
					<img src="./public/mobile_03.jpg">
					<div class="absolute_content number" ng-model="mobile_03_1" id="mobile_03_1"></div>
					<div class="absolute_content number" ng-model="mobile_03_2" id="mobile_03_2"></div>
					<div class="absolute_content number" ng-model="mobile_03_3" id="mobile_03_3"></div>
					<div class="absolute_content number" ng-model="mobile_03_4" id="mobile_03_4"></div>
				</div>
				<div id="mobile_04" class="contentbox">
					<img src="./public/mobile_04.jpg">
					<div class="absolute_content" ng-model="mobile_04_1" id="mobile_04_1">
						<img src="./public/mobile_04_1.jpg">
					</div>
					<div class="absolute_content" ng-model="mobile_04_2" id="mobile_04_2">
						<img src="./public/mobile_04_2.jpg">
					</div>
					<div class="absolute_content" ng-model="mobile_04_3" id="mobile_04_3">
						<img src="./public/mobile_04_3.jpg">
					</div>
					<div class="absolute_content" ng-model="mobile_04_4" id="mobile_04_4">
						<img src="./public/mobile_04_4.jpg">
					</div>
					<div class="absolute_content" ng-model="mobile_04_5" id="mobile_04_5">
						<img src="./public/mobile_04_5.jpg">
					</div>
				</div>
				<div fade-in-animation="" id="mobile_05" class="contentbox">
					<img src="./public/mobile_05.jpg">
					<div class="absolute_content" ng-model="mobile_05_1" id="mobile_05_1">
						<img src="./public/mobile_05_1.jpg">
					</div>
					<div class="absolute_content" ng-model="mobile_05_2" id="mobile_05_2">
						<img src="./public/mobile_05_2.jpg">
					</div>
					<div class="absolute_content" ng-model="mobile_05_3" id="mobile_05_3">
						<img src="./public/mobile_05_3.jpg">
					</div>
					<div class="absolute_content" ng-model="mobile_05_4" id="mobile_05_4">
						<img src="./public/mobile_05_4.jpg">
					</div>
				</div>
				<div id="mobile_06" class="contentbox">
					<img src="./public/mobile_06.jpg">
					<div class="absolute_content number" ng-model="mobile_06_1" id="mobile_06_1"></div>
				</div>
				<div id="mobile_07" class="contentbox">
					<div class="absolute_content" ng-model="mobile_07_1" id="mobile_07_1">
						<img src="./public/mobile_07_1.jpg">
					</div>
					<div class="absolute_content" ng-model="mobile_07_2" id="mobile_07_2">
						<img src="./public/mobile_07_2.jpg">
					</div>
					<div class="absolute_content" ng-model="mobile_07_3" id="mobile_07_3">
						<img src="./public/mobile_07_3.jpg">
					</div>
					<div class="absolute_content" ng-model="mobile_07_4" id="mobile_07_4">
						<img src="./public/mobile_07_4.jpg">
					</div>
					<div class="absolute_content" ng-model="mobile_07_5" id="mobile_07_5">
						<img src="./public/mobile_07_5.jpg">
					</div>
				</div>
				<div id="mobile_08" class="contentbox">
					<img src="./public/mobile_08.jpg">
				</div>
				<div id="mobile_09" class="contentbox">
					<img src="./public/mobile_09.jpg">
					<div class="absolute_content mobile_09_barchart1"></div>
					<div class="absolute_content mobile_09_barchart1_text">100%</div>

					<div class="absolute_content mobile_09_barchart2"></div>
					<div class="absolute_content mobile_09_barchart2_text">86.2%</div>

					<div class="absolute_content mobile_09_barchart3"></div>
					<div class="absolute_content mobile_09_barchart3_text">0.52g</div>

					<div class="absolute_content mobile_09_barchart4"></div>
					<div class="absolute_content mobile_09_barchart4_text">1.16g</div>

					<div class="absolute_content mobile_09_barchart5"></div>
					<div class="absolute_content mobile_09_barchart5_text">100%</div>

					<div class="absolute_content mobile_09_barchart6"></div>
					<div class="absolute_content mobile_09_barchart6_text">65.5%</div>
				</div>
				<div id="mobile_10" class="contentbox">
					<img src="./public/mobile_10.jpg">
				</div>
				<div id="mobile_11" class="contentbox">
					<img src="./public/mobile_11.jpg">
					<div class="absolute_content" ng-model="mobile_11_1" id="mobile_11_1">
						<img src="./public/mobile_11_1.jpg">
					</div>
					<div class="absolute_content" ng-model="mobile_11_2" id="mobile_11_2">
						<img src="./public/mobile_11_2.jpg">
					</div>
				</div>
				<div id="mobile_12" class="contentbox">
					<img src="./public/mobile_12.jpg">
					<div class="absolute_content" ng-model="mobile_12_1" id="mobile_12_1">
						<img src="./public/mobile_12_1.jpg">
					</div>
					<div class="absolute_content" ng-model="mobile_12_2" id="mobile_12_2">
						<img src="./public/mobile_12_2.jpg">
					</div>
					<div class="absolute_content" ng-model="mobile_12_3" id="mobile_12_3">
						<img src="./public/mobile_12_3.jpg">
					</div>
					<div class="absolute_content" ng-model="mobile_12_4" id="mobile_12_4">
						<img src="./public/mobile_12_4.jpg">
					</div>
					<div class="absolute_content" ng-model="mobile_12_5" id="mobile_12_5">
						<img src="./public/mobile_12_5.jpg">
					</div>
				</div>
				<div id="mobile_13" class="contentbox">
					<img src="./public/mobile_13.jpg">
					<div class="absolute_content" ng-model="mobile_13_1" id="mobile_13_1">
						<a href="https://bit.ly/2UOqeJt" target="_blank">
							<img src="./public/s14_1.gif">
						</a>
					</div>
				</div>
				<div id="mobile_14" class="contentbox">
					<img src="./public/mobile_14.jpg">
				</div>
			
			</div>
	</div>

</body>

</html>