@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500&family=Noto+Sans:wght@400;700&display=swap');
$bgcolor: #fff; 
$maincolor: #44AE49;
$darkcolor: #231F20;
$greycolor: #9FA1A4; 
* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background: $bgcolor;
    min-width: 320px;
    font-family:  'Noto Sans TC',Lantinghei, Microsoft JhengHei, Arial, 新細明體, sans-serif !important;
    line-height: 2em;
    font-size:18px;
}
a{
    color: #fff;
}
.title span{
    background: $maincolor;
    padding: 5px; 
    line-height: 1.5;
}
.greentext{
    color: $maincolor;
}
.smalltext{
    font-size: 0.8em;
    line-height: 1.5em;
}
h2{
    color: $maincolor;
}
h3{
    color: $maincolor;
}
.container{
    width: 800px;
    margin: 0 auto;
    img {
        width: 100%;
    }
    @media(max-width: 799px){
        display:none;
    }
}

.mobilecontainer{
    width: 100%;
    margin: 0 auto;
    img {
        width: 100%;
    }
    @media(min-width: 799px){
        display:none;
    }
}

.loading{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    .centerloading{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 300px;
        position: absolute;
        z-index: 3;
        color: #333;
        text-align: center;
    }
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

.wrapper {
    margin: 0 auto;
}

.number{
    font-family: 'Noto Sans', sans-serif;
}
.bottom_greyline{
    border-bottom: 1px solid $greycolor;
}

.flexcon{
    display: flex;
}
.contentbox{
    position: relative;
}
.absolute_content{
    position: absolute;
}
#web_02{
    width: 100%;
    #s1_2_1{
        left: 5%;
        top: 67%;
        font-size: 3.2em;

    }
    #s1_2_2{
        left: 36%;
        top: 40%;
        font-size: 2em;
    }
    #s1_2_3{
        left: 36%;
        top: 49%;
        font-size: 2em;
    }
    #s1_2_4{
        left: 36%;
        top: 70%;
        font-size: 5em;
    }
}
#web_03{
    width: 100%;
    #s3_1{
        opacity: 0;
        width: 13.5%;
        left: 10%;
        top: 33%;
    }
    #s3_2{
        opacity: 0;
        width: 13.5%;
        left: 27%;
        top: 33%;
    }
    #s3_3{
        opacity: 0;
        width: 13.5%;
        left: 44%;
        top: 33%;
    }
    #s3_4{
        opacity: 0;
        width: 13.5%;
        left: 61%;
        top: 33%;
    }
    #s3_5{
        opacity: 0;
        width: 13.5%;
        left: 78%;
        top: 33%;
    }
}

#web_04{
    width: 100%;
    #s4_1{
        opacity: 0;
        width: 26.5%;
        left: 6.2%;
        top: 35%;
    }
    #s4_2{
        opacity: 0;
        width: 19.5%;
        left: 32.5%;
        top: 35%;
    }
    #s4_3{
        opacity: 0;
        width: 22.5%;
        left: 52%;
        top: 35%;
    }
    #s4_4{
        opacity: 0;
        width: 19.8%;
        left: 74.5%;
        top: 35%;
    }
   
}
#web_05{
    width: 100%;
    #s5_1{
        left: 46%;
        top: 47%;
        font-size: 1.7em;
    }
}

#web_06{
    width: 100%;
    height: 33vw;
    max-height: 300px;
    #s6_1{
        width: 27.4%;
        left: 25%;
        top: 10%;
    }
    #s6_2{
        width: 27.4%;
        left: 52%;
        top: 10%;
    }
    #s6_3{
        width: 27.4%;
        left: 8%;
        top: 53%;
    }
    #s6_4{
        width: 27.4%;
        left: 37.4%;
        top: 53%;
    }
    #s6_5{
        width: 27.4%;
        left: 65.4%;
        top: 53%;
    }
  
}